streamlit==1.37.1
torch==2.4.0
transformers==4.44.0
opencv-python-headless==4.10.0.84
numpy==2.1.0
Pillow==10.4.0
pytesseract==0.3.13
opencv-python-headless==4.7.0.72
opencv-python-headless==4.6.0.66
opencv-python-headless==4.5.3.56
